<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button [routerLink]="'/exercicio1'" expand="block" shape="round">
    Exercício 1
  </ion-button>

  <ion-button [routerLink]="'/exercicio2'" expand="block" shape="round">
    Exercício 2
  </ion-button>

  <ion-button [routerLink]="'/exercicio3'" expand="block" shape="round">
    Exercício 3
  </ion-button>

  
</ion-content>
