<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
     </ion-buttons>
    <ion-title>Você esta no exercicío 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Digite seu ano de nascimento:</ion-label>
    <ion-input type="number" [(ngModel)]="ano"></ion-input>
  </ion-item>

  <ion-button (click)="calcular()">Analisar</ion-button>


 <ion-text color="medium">
    <h1 *ngIf="resultado">Idade {{resultado}}, {{msg}}</h1>
  </ion-text>
 
</ion-content>
